@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  color: white;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(185, 188, 196, 0.65))), url(../images/fondoMadera.jpg);
  background-image: linear-gradient(rgba(185, 188, 196, 0.65)), url(../images/fondoMadera.jpg);
  font-family: 'Poppins', sans-serif;
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, black), to(orange));
  background-image: linear-gradient(black 5%, orange);
  min-height: 100px;
  text-transform: capitalize;
}

.header .logo {
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 40px;
  text-shadow: 5px 2px black;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: desvanecimiento;
          animation-name: desvanecimiento;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header .logo span {
  color: #333;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 2px 2px grey;
}

@-webkit-keyframes desvanecimiento {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes desvanecimiento {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.encabezado__barra {
  background-color: grey !important;
  font-family: cursive;
}

main .title {
  text-align: center;
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  padding-top: .7em;
  padding-bottom: .7em;
  text-shadow: 2px 2px 3px black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)));
  background: linear-gradient(rgba(0, 0, 0, 0.75));
}

main .gallery {
  padding-bottom: 3em;
  padding-top: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 160px;
      grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img4" "img5 img5 img6 img7" "img5 img5 img8 img8";
  gap: .8em;
}

main .gallery .gallery__picture {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

main .gallery .gallery__picture::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.548);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
}

main .gallery .gallery__picture:hover::before {
  -webkit-transform: scale(1) rotate(360deg);
          transform: scale(1) rotate(360deg);
}

main .gallery .gallery__picture--g1::before {
  content: "Minimalista";
}

main .gallery .gallery__picture--g2::before {
  content: "Moderno claro";
}

main .gallery .gallery__picture--g3::before {
  content: "Farmhouse";
}

main .gallery .gallery__picture--g4::before {
  content: "Rustico";
}

main .gallery .gallery__picture--g5::before {
  content: "Escandinavo";
}

main .gallery .gallery__picture--g6::before {
  content: "Clasico Moderno";
}

main .gallery .gallery__picture--g7::before {
  content: "Elegante";
}

main .gallery .gallery__picture--g8::before {
  content: "Clasico";
}

main .gallery .gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid black;
}

main .gallery .gallery__picture--g1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img1;
}

main .gallery .gallery__picture--g2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: img2;
}

main .gallery .gallery__picture--g3 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: img3;
}

main .gallery .gallery__picture--g4 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: img4;
}

main .gallery .gallery__picture--g5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img5;
}

main .gallery .gallery__picture--g6 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: img6;
}

main .gallery .gallery__picture--g7 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: img7;
}

main .gallery .gallery__picture--g8 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: img8;
}

footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(orange), to(black));
  background-image: linear-gradient(orange, black);
  font-size: 20px;
  text-align: center;
  font-variant: small-caps;
  line-height: 1.8;
  margin: 0;
  padding: 10px;
}

footer h5 {
  color: #333;
}

footer a img {
  margin: 0 7px 0 7px;
}

footer img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (max-width: 768px) {
  main .title {
    font-size: 1.5rem;
    padding-top: .8em;
  }
  main .gallery {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "img1 img1" "img1 img1" "img2 img3" "img4 img4" "img4 img4" "img5 img5" "img5 img5" "img6 img7" "img8 img8" "img8 img8";
  }
  main .gallery__picture::before {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=fotos.css.map */