* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, black), to(orange));
  background-image: linear-gradient(black 5%, orange);
  min-height: 100px;
  text-transform: capitalize;
}

.header .logo {
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 40px;
  text-shadow: 5px 2px black;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: desvanecimiento;
          animation-name: desvanecimiento;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header .logo span {
  color: #333;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 2px 2px grey;
}

@-webkit-keyframes desvanecimiento {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes desvanecimiento {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.encabezado__barra {
  background-color: grey !important;
  font-family: cursive;
}

section.primerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0;
  padding: 0;
  height: 450px;
}

section.primerContainer .caja1 {
  width: 70%;
  height: 450px;
  background-color: #fff;
}

section.primerContainer .caja1 iframe {
  width: 100%;
  height: 100%;
}

section.primerContainer .caja2 {
  width: 30%;
  height: 450px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(209, 206, 206, 0.4)), to(rgba(5, 7, 12, 0.8))), url(../images/fondoMadera.jpg);
  background: linear-gradient(rgba(209, 206, 206, 0.4), rgba(5, 7, 12, 0.8)), url(../images/fondoMadera.jpg);
  padding-left: 20px;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.primerContainer .caja2 .horariosTitulo {
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 1px 1px 5px black;
}

section.primerContainer .caja2 span.dia {
  text-decoration: underline;
  text-shadow: 1px 1px 5px black;
}

section.primerContainer .caja2 .horarios {
  font-family: cursive;
  line-height: 2.3rem;
}

h3.tituloEquipo {
  text-shadow: 1px 1px 5px #fff;
  background-color: #3338;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2.7rem;
  padding: 18px 0px 25px 0px;
  margin: 0;
  text-align: center;
  text-decoration: underline;
}

h3.subtitulo {
  background-color: #3338;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
  padding-bottom: 10px;
  margin: 0;
  text-align: center;
}

section.segundoContainer {
  margin: 0px 0px 0px 0px;
  padding: 30px 0px 30px 0px;
  height: auto;
  background: #3335;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.segundoContainer div.img {
  height: auto;
  width: 200px;
  margin: 20px 50px 20px 50px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

section.segundoContainer div.img img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 4px solid black;
}

section.segundoContainer div.img .nombre {
  color: #fff;
  text-shadow: 2px 1px 6px black;
}

footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(orange), to(black));
  background-image: linear-gradient(orange, black);
  font-size: 20px;
  text-align: center;
  font-variant: small-caps;
  line-height: 1.8;
  margin: 0;
  padding: 10px;
}

footer h5 {
  color: #333;
}

footer a img {
  margin: 0 7px 0 7px;
}

footer img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
/*# sourceMappingURL=nosotros.css.map */