* {
  color: white;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, black), to(orange));
  background-image: linear-gradient(black 5%, orange);
  min-height: 100px;
  text-transform: capitalize;
}

.header .logo {
  color: #fff;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 40px;
  text-shadow: 5px 2px black;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: desvanecimiento;
          animation-name: desvanecimiento;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header .logo span {
  color: #333;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 2px 2px grey;
}

@-webkit-keyframes desvanecimiento {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes desvanecimiento {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.encabezado__barra {
  background-color: grey !important;
  font-family: cursive;
}

section.main div.fondoImg1 {
  width: 100%;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 7, 12, 0.75)), to(rgba(5, 7, 12, 0.75))), url(../images/img1..jpg);
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../images/img1..jpg);
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.main div.fondoImg1 .cajaEtapas {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 7, 12, 0.66)));
  background: linear-gradient(rgba(5, 7, 12, 0.66));
  height: 150px;
  width: 50%;
}

section.main div.fondoImg1 .cajaEtapas .c {
  height: 60%;
  width: 100%;
  color: orange;
  text-shadow: 1px 1px black;
  text-align: center;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-top: 10px;
}

section.main div.fondoImg1 .cajaEtapas .d {
  height: 40%;
  width: 100%;
  text-align: right;
  padding: 15px 25px 0px 0px;
  font-variant: small-caps;
}

section.main .titulo1 {
  background-color: #3339;
  text-shadow: 4px 4px 7px black;
  height: 80px;
  padding: 15px 0px 0px 60px;
  margin: 0;
}

section.main div.cajaAsesoria {
  height: 300px;
  width: 100%;
  background-image: url(../images/img7.jpg);
  background-size: cover;
  background-position: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.main div.cajaAsesoria .incluye {
  color: black;
  width: 40%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 7, 12, 0.8)), to(rgba(5, 7, 12, 0.8)));
  background: linear-gradient(rgba(5, 7, 12, 0.8), rgba(5, 7, 12, 0.8));
}

section.main div.cajaAsesoria .incluye div.itemT {
  text-decoration: underline;
}

section.main div.cajaAsesoria .incluye div.itemA {
  color: #fff;
  font-family: sans-serif;
  font-size: 17px;
  margin: 10px 0px;
  padding-left: 10px;
}

section.main div.cajaAsesoria .carrousel {
  width: 60%;
  height: 200px;
}

section.main div.cajaAsesoria .carrousel img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

section.main div.contratanos {
  height: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 7, 12, 0.65))), url(../images/maderaCalid.jpg);
  background-image: linear-gradient(rgba(5, 7, 12, 0.65)), url(../images/maderaCalid.jpg);
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.main div.contratanos .cajasC {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.main div.contratanos .cajasC .itemsContratanos1 {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  height: 170px;
  width: 40%;
}

section.main div.contratanos .cajasC .itemsContratanos1 p {
  font-size: 1rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 35px;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
}

section.main div.contratanos .cajasC .itemsContratanos1 p:hover {
  cursor: pointer;
}

section.main div.contratanos .cajasC .itemsContratanos1 img:hover {
  cursor: pointer;
}

section.main div.contratanos .cajasC .itemsContratanos2 {
  height: 150px;
  width: 60%;
}

section.main div.contratanos .cajasC .itemsContratanos2 .ofrecemos {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  margin: 10px 0px;
}

section.main div.contratanos .cajasC .itemsContratanos2 .botonContratanos {
  width: 80%;
  margin: 32px;
  background: rgba(5, 7, 12, 0.8);
  text-shadow: 1px 1px 3px black;
  text-align: center;
  color: orange;
  font-size: 25px;
  border: 1px solid #fff7;
  cursor: pointer;
}

section.main div.contratanos .cajasC .itemsContratanos2 .botonContratanos:hover {
  background-color: orange;
  color: white;
}

footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(orange), to(black));
  background-image: linear-gradient(orange, black);
  font-size: 20px;
  text-align: center;
  font-variant: small-caps;
  line-height: 1.8;
  padding: 10px;
}

footer h5 {
  color: #333;
}

footer a img {
  margin: 0 7px 0 7px;
}

footer img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (max-width: 992px) {
  section.main div.fondoImg1 .cajaEtapas {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 7, 12, 0.66)));
    background: linear-gradient(rgba(5, 7, 12, 0.66));
    height: 150px;
    width: 50%;
  }
  section.main div.fondoImg1 .cajaEtapas .c {
    font-size: 20px;
    padding-top: 15px;
  }
  section.main div.cajaAsesoria {
    height: auto;
  }
  section.main div.cajaAsesoria div.incluye {
    width: 100%;
  }
  section.main div.cajaAsesoria div.incluye div.itemA {
    font-size: 16px;
    margin: 10px 0px;
    padding-left: 5px;
  }
  section.main div.cajaAsesoria div.carrousel {
    width: 100%;
    height: 200px;
  }
  section.main div.cajaAsesoria div.carrousel img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  section.main div.contratanos .cajasC {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  section.main div.contratanos .cajasC .itemsContratanos1 {
    -o-object-fit: cover;
       object-fit: cover;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    height: 100px;
    width: 40%;
  }
  section.main div.contratanos .cajasC .itemsContratanos1 p {
    font-size: 16px;
    line-height: 20px;
  }
  section.main div.contratanos .cajasC .itemsContratanos2 .ofrecemos {
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    margin: 10px 0px;
  }
  section.main div.contratanos .cajasC .itemsContratanos2 .botonContratanos {
    width: 100%;
    margin: 5px;
    padding-right: 15px;
    font-size: 16px;
  }
}
/*# sourceMappingURL=servicios.css.map */