* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header {
    background-image: linear-gradient(black 5%, orange);
    min-height: 100px;
    text-transform: capitalize;

    .logo {
        color: #fff;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        float: left;
        margin-top: 15px;
        margin-left: 10px;
        font-size: 40px;
        text-shadow: 5px 2px black;
        animation-duration: 2s;
        animation-name: desvanecimiento;
        animation-delay: 3s;
        animation-direction: alternate;
        animation-iteration-count: infinite;

        span {
            color: #333;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-shadow: 2px 2px grey;
        }
    }

    @keyframes desvanecimiento {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

.encabezado__barra {
    background-color: grey !important;
    font-family: cursive;
}

section.primerContainer {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    height: 450px;

    .caja1 {
        width: 70%;
        height: 450px;
        background-color: #fff;

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    .caja2 {
        width: 30%;
        height: 450px;
        background: linear-gradient(rgba(209, 206, 206, 0.4), rgba(5, 7, 12, 0.8)), url(../images/fondoMadera.jpg);
        padding-left: 20px;
        text-align: center;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        .horariosTitulo {
            font-size: 2rem;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-shadow: 1px 1px 5px black;
        }

        span.dia {
            text-decoration: underline;
            text-shadow: 1px 1px 5px black;
        }

        .horarios {
            font-family: cursive;
            line-height: 2.3rem;
        }

    }
}

h3.tituloEquipo {
    text-shadow: 1px 1px 5px #fff;
    background-color: #3338;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.7rem;
    padding: 18px 0px 25px 0px;
    margin: 0;
    text-align: center;
    text-decoration: underline;
}

h3.subtitulo {
    background-color: #3338;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
}

section.segundoContainer {
    margin: 0px 0px 0px 0px;
    padding: 30px 0px 30px 0px;
    height: auto;
    background: #3335;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    div.img {
        height: auto;
        width: 200px;
        margin: 20px 50px 20px 50px;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;

        img {
            height: 200px;
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 4px solid black;
        }

        .nombre {
            color: #fff;
            text-shadow: 2px 1px 6px black;
        }
    }
}

footer {
    background-image: linear-gradient(orange, black);
    font-size: 20px;
    text-align: center;
    font-variant: small-caps;
    line-height: 1.8;
    margin: 0;
    padding: 10px;

    h5 {
        color: #333;
    }

    a img {
        margin: 0 7px 0 7px;
    }

    img:hover {
        transform: scale(1.5);
    }
}

@media (max-width: 576px) {
    section.primerContainer {
        height: auto;

        .caja1 {
            width: 100%;
            height: 400px;
            background-color: #fff;
        }

        .caja2 {
            width: 100%;
            height: 300px;

            .horariosTitulo {
                font-size: 2.3rem;
            }

            .horarios {
                font-size: 20px;
            }

        }
    }
}